[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/03-Tutorial03-Data-Structures-in-Pandas.ipynb)

# Tutorial 03. Data Structures in to Pandas

Content:
- Review of main lecture 
- Practice creating dataframe
- Practice subsetting
- Practice operations on columns

**Q1.**  Create a dataframe that contains the following data, (a) by combining seperate pandas series. (b) by transforming a python dictionary.

| company_name | employees | state | layoffs|
| --- | --- | --- |---|
| Amazon | 613300 | WA |10000 |
| Apple | 132000 | CA |1000 |
| Facebook | 71970 | CA |11000 |
| Tesla | 99000 | TX |500 |

**Q2.** (a) Find companys with more than 10000 employees. 
(b) Find companies in California, 
(c) Find companies that have "Ap" in their names or those that are in Texas

**Q3.** Find average number of employees for companies in California

**Q4.** Find average value of fraction of employees who were laid off for companies in California