[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/Tutorial/04-Tutorial04-Data-Assembly-practice.ipynb)

# Tutorial 04. Data Assembly in Pandas

Content:

1. Concatenating data
2. Advance merging of data sets
3. Grouping

In [1]:
import pandas as pd

We will work with a airquality dataset for this excercise

Reading No2 measurements data for weather stations

In [2]:
## The air_quality_no2_long.csv data set provides ùëÅùëÇ2 values for the measurement stations FR04014, BETR801 and London Westminster in respectively Paris, Antwerp and London.
air_quality_no2 = pd.read_csv('https://www.dropbox.com/s/70230oct6p0ovnv/air_quality_no2_long.csv?dl=1',parse_dates=True)

In [3]:
air_quality_no2.head()

    city country                   date.utc location parameter  value   unit
0  Paris      FR  2019-06-21 00:00:00+00:00  FR04014       no2   20.0  ¬µg/m¬≥
1  Paris      FR  2019-06-20 23:00:00+00:00  FR04014       no2   21.8  ¬µg/m¬≥
2  Paris      FR  2019-06-20 22:00:00+00:00  FR04014       no2   26.5  ¬µg/m¬≥
3  Paris      FR  2019-06-20 21:00:00+00:00  FR04014       no2   24.9  ¬µg/m¬≥
4  Paris      FR  2019-06-20 20:00:00+00:00  FR04014       no2   21.4  ¬µg/m¬≥

Reading PM25 measurements data for weather stations

In [4]:
## The air_quality_pm25_long.csv data set provides ùëÉùëÄ25 values for the measurement stations FR04014, BETR801 and London Westminster in respectively Paris, Antwerp and London.

air_quality_pm25 = pd.read_csv('https://www.dropbox.com/s/d0ef5l5rm95fkdx/air_quality_pm25_long.csv?dl=1',parse_dates=True)

In [5]:
air_quality_pm25.head()

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,¬µg/m¬≥
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,¬µg/m¬≥
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,¬µg/m¬≥
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,¬µg/m¬≥
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,¬µg/m¬≥

Reading stations coordination data

In [6]:
## The air quality measurement station coordinates are stored in a data file air_quality_stations.csv

stations_coord = pd.read_csv("https://www.dropbox.com/s/1wd3n5m1chg1b1k/air_quality_stations.csv?dl=1")
stations_coord=stations_coord.drop_duplicates(subset='location')

In [7]:
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

Reading description of airquality measurements

In [8]:
## The air quality parameters metadata are stored in a data file air_quality_parameters.csv
air_quality_parameters = pd.read_csv("https://www.dropbox.com/s/qnp2myzjbukpbgj/air_quality_parameters.csv?dl=1")
air_quality_parameters=air_quality_parameters.rename(columns={'id':'parameter'})

In [9]:
air_quality_parameters

  parameter                                        description   name
0        bc                                       Black Carbon     BC
1        co                                    Carbon Monoxide     CO
2       no2                                   Nitrogen Dioxide    NO2
3        o3                                              Ozone     O3
4      pm10  Particulate matter less than 10 micrometers in...   PM10
5      pm25  Particulate matter less than 2.5 micrometers i...  PM2.5
6       so2                                     Sulfur Dioxide    SO2

----

**Q1.** Combine the measurements for ùëÅùëÇ2 "air_quality_no2" and ùëÉùëÄ25 "air_quality_pm25", such that the outcome is a dataframe with similar structure to the input dataframes and contains all rows from both dataframes. Call the outcome dataframe "air_quality"

**Q2.** Add the station coordinates "stations_coord" to the corresponding rows in the measurements dataframe "air_quality". The outcome should be a dataframe that contains measurements data and station coordinate data. Compare the outcome when parameter how is 'left' and 'right' in the merge operation.

**Q3.** Add the parameters full description and name, provided by the parameters metadata dataframe "air_quality_parameters", to the measurements dataframe from the previous task. The outcome should be a dataframe containing measurement data, station locations, and parameters description

**Q4.** Find the average value of all measurements for pm25 and no2 in each city