[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/Tutorial/05-Tutorial05-Transformation-practice.ipynb)

# Tutorial 05. Data Transformation in Pandas

In [ ]:
import pandas as pd

### Loading dataset

For this assignment we will work on the superstore data from https://www.kaggle.com/datasets/vivek468/superstore-dataset-final

In [ ]:
# similar to reading data from csv file, we can read data from excel sheets, we need to specify which column we need to read data from
# this data is a sample from comercial software Tableau
df=pd.read_csv('https://github.com/mosleh-exeter/BEM1025/raw/main/Lecture/Superstore.csv')

selected_columns=['Order ID', 'Order Date', 'Product ID','Segment', 'Region','Category','variable','value']

df_order=df[selected_columns]
# or similarly you can do
df_order=pd.DataFrame(df_order,columns=selected_columns)

In [39]:
df_order.head()

,Order ID,Order Date,Product ID,Segment,Region,Category,variable,value
0,CA-2013-152156,2013-11-09 00:00:00,FUR-BO-10001798,Consumer,South,Furniture,Sales,261.9600
1,CA-2013-152156,2013-11-09 00:00:00,FUR-CH-10000454,Consumer,South,Furniture,Sales,731.9400
2,CA-2013-138688,2013-06-13 00:00:00,OFF-LA-10000240,Corporate,West,Office Supplies,Sales,14.6200
3,US-2012-108966,2012-10-11 00:00:00,FUR-TA-10000577,Consumer,South,Furniture,Sales,957.5775
4,US-2012-108966,2012-10-11 00:00:00,OFF-ST-10000760,Consumer,South,Office Supplies,Sales,22.3680

In [41]:
df_order['variable'].unique()

array(['Sales', 'Quantity', 'Discount', 'Profit'], dtype=object)

**Q1.** Find the top 10 products with highest sales.

**Q2.** Find the average profit for each region for each year.

Tip: You can use Grouper with appropriate frequncy: https://pandas.pydata.org/docs/reference/api/pandas.Grouper.html

**Q3.** Tranform the dataframe such that you have seperate columns for Discount, Profit, Quanity, and Sales; Then find the maximum value of each for each segment

**Q4.** Tranform the dataframe from previous task such that you have seperate rows for Discount, Profit, Quanity, and Sales