[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/Tutorial/06-Tutorial06-Plotting-practice.ipynb)

# Tutorial 05. Plotting-practice

In [1]:
import pandas as pd

In [2]:
import seaborn as sns

### Loading dataset

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/gapminder.tsv', sep='\t')

In [4]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

**Q1.** Create a plot to show the relationship between life expectancy and GDP in the UK. To show a linear relationship you can use a regplot.

**Q2.** Plot number of observations for each continent in 1980 and after where the population of the country was more than 10,000,000

Tip: we need to create a bar chart (countplot)

**Q3.**  Plot the changes of life expectancy for each contintent over different years

Try this using scatterplot and lineplot

**Q4.** Plot the distribution of lifeExp for years 2000 onwards and different continents using facetgrid

**Q5.** Compare life expecty of different continents using boxplot