# Session 07 - Plotting-practice

# 0. Let's load and install some libraries

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

# 1. Let's load some data

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/gapminder.tsv', sep='\t')

In [5]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

### For each of the following tasks create a graph

### **Task 1**. Is there any significant relationship between life expectancy and GDP in the UK ?
Tip: we need to create a scatter plot

### **Task 2**. Plot the number of observations for each continent
tip we need to create a bar chart (countplot)

### **Task 3**. Plot the evolution of life expectancy across different contintent

### **Task 4**. Plot the distribution of lifeExp for different years and different continents using facetgrid

### **Task 5**. Plot the distribution of lifeExp for different years and different continents using facetgrid

### **Task 6**. Boxplot for continent population for year 1980-1990