# Lab 5 Data Assembly

## This session will cover:

## 1. Data aggregation (grouping)
## 2. Concatenation
## 3. Joining

In [130]:
# we import the library pandas and give it the "pd" nickname
import pandas as pd

In [131]:
# we use pandas.read_csv() function to access the file "gapminder.tsv" stored in a remote location 

# the remote location is: https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/

# with the argument sep='\t' we indicate that the columns are separated by tabs rather than commas.

df = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/gapminder.tsv', sep='\t')

In [133]:
# we show the first 5 rows
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [134]:
# we show the size of our dataset
df.shape

(1704, 6)

In [135]:
# we get some more detailed info on our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# 1. Grouped and aggregated calculations

There are several initial questions that we can ask ourselves:
1. For each year in our data, what was the average life expectancy? What is the average life expectancy, population, and GDP?
2. What if we stratify the data by continent and perform the same calculations?
3. How many countries are listed in each continent?

## 1.1. What was the average life expectancy evolution across time ?

In [171]:
df

In [170]:
# the following command groups data by the columm "year" then extracts the column lifeExp and computes the mean
df.groupby('year')['lifeExp'].mean()

### The following figure provides a visual representation of the operation we have just performed

<img src="https://raw.githubusercontent.com/thousandoaks/BEMM458/master/sessions/images/groupby_means.png">

## 1.2. What was the average life expectancy evolution and income across time AND continent ?

In [169]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()

## 1.3. How many countries are there in each continent ?

In [168]:
df.head()

In [142]:
#  we group by continent then extract the country column and count unique occurrences
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

# 2. Concatenation

### the following figure provides a visual representation of the operation we want to perform
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/08_concat_row1.svg">

###Â Check the documentation for the concat command

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

## 2.1 Let's create seperate dataframes for three countries

In [167]:
df_Afghanistan=df[df['country']=="Afghanistan"]
df_Afghanistan.head()

In [166]:
df_Albania=df[df['country']=="Albania"]
df_Albania.head()

In [163]:
df_Turkey=df[df['country']=="Turkey"]
df_Turkey.head()

## 2.2 We want to combine the data of all the countries into a single dataframe

In [160]:
All_three_cities = pd.concat([df_Afghanistan,df_Albania,df_Turkey], axis=0)

In [162]:
All_three_cities

## 3. Join
### the following figure provides a visual representation of the operation we want to perform
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/08_merge_left.svg">

### 3.1 How to normalize life expectency for each year? (join on a single column)

In [233]:
# the following command groups data by the column "year" then extracts the column lifeExp and computes the mean
df_year_lifeExp_mean=df.groupby('year')['lifeExp'].mean()
df_year_lifeExp_mean

In [232]:
df

In [231]:
# the following command merge average life expectency for each with the origian dataset
df_merge1=pd.merge(df,df_year_lifeExp_mean,on='year',how='left')
df_merge1

In [230]:
df_merge1[df_merge1['year']==2002]

In [229]:
# we can create a new column for normlized lifeExp based on its average value for each year
df_merge1['year_norm_lifeExp']=df_merge1['lifeExp_x']/df_merge1['lifeExp_y']
df_merge1

In [228]:
df_merge1[df_merge1['country']=='Uganda']

In [227]:
df_merge1[df_merge1['country']=='Afghanistan']

### 3.2 How to normalize life expectency for each year and country? (join on multiple columns)

In [226]:
df_yearContinent_lifeExp_mean=df.groupby(['continent','year'])['lifeExp'].mean().reset_index()
df_yearContinent_lifeExp_mean

In [225]:
# the following command merge average life expency for each year/continent with the original dataset
df_merge2=pd.merge(df,df_yearContinent_lifeExp_mean,on=['year','continent'],how='left')
df_merge2

In [224]:
# we can create a new column for 
df_merge2['yearContinent_norm_lifeExp']=df_merge2['lifeExp_x']/df_merge2['lifeExp_y']
df_merge2

In [223]:
df_merge2[df_merge2['country']=='Afghanistan']

In [222]:
df_merge2[df_merge2['country']=='Zimbabwe']