# Session 03 - Tutorial. Data Structures in Pandas

**Remember, to save jupyter-notebook on Binder, you need to download and upload the file**

**If you leave Binder for a while you may lose your connection!**

In [1]:
import pandas as pd

In [2]:
import numpy as np

## 1. Load a dataset

- Use this link to load the dataset https://raw.githubusercontent.com/mosleh-exeter/BEM1025/main/Fun%2C%20beginner-friendly%20datasets/museums.csv
 read more here: https://www.kaggle.com/imls/museum-directory

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/mosleh-exeter/BEM1025/main/Fun%2C%20beginner-friendly%20datasets/museums.csv")

/Users/mm1049/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (9,14,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## 2. Structure of the dataset

- how many rows and columns in the dataset?

In [4]:
print('rows: {}, columns: {}'.format(df.shape[0],df.shape[1]))

rows: 33072, columns: 25

- What is the type of each column variables?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33072 entries, 0 to 33071
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Museum ID                                 33072 non-null  int64
 1   Museum Name                               33072 non-null  object
 2   Legal Name                                33072 non-null  object
 3   Alternate Name                            1927 non-null   object
 4   Museum Type                               33072 non-null  object
 5   Institution Name                          2749 non-null   object
 6   Street Address (Administrative Location)  33062 non-null  object
 7   City (Administrative Location)            33072 non-null  object
 8   State (Administrative Location)           33072 non-null  object
 9   Zip Code (Administrative Location)        33072 non-null  object
 10  Street Address (Physical Location)        9216 non-null   object
 11  City (Physical Location)                  9223 non-null   object
 12  State (Physical Location)                 9223 non-null   object
 13  Zip Code (Physical Location)              9221 non-null   float64
 14  Phone Number                              22932 non-null  object
 15  Latitude                                  33007 non-null  float64
 16  Longitude                                 33007 non-null  float64
 17  Locale Code (NCES)                        32995 non-null  float64
 18  County Code (FIPS)                        30536 non-null  float64
 19  State Code (FIPS)                         33071 non-null  float64
 20  Region Code (AAM)                         33072 non-null  int64
 21  Employer ID Number                        27554 non-null  object
 22  Tax Period                                23280 non-null  float64
 23  Income                                    22961 non-null  float64
 24  Revenue                                   22290 non-null  float64
dtypes: float64(9), int64(2), object(14)
memory usage: 6.3+ MB

## 3. Columns and row extraction

- Create a new dataframe that has only the following columns : 'Museum ID', 'Museum Name', 'Legal Name','Museum Type', 'Institution Name'

In [6]:
col_select=[ 'Museum ID', 'Museum Name', 'Legal Name','Museum Type', 'Institution Name']
df1=df[col_select]

- Create a new dataframe that has only the following rows : 10, 200,400,

In [7]:
rows_select=[10, 200,400]
df2=df.iloc[rows_select]

- Create a new dataframe that has the following columns 'Museum ID', 'Museum Name' and the following rows 100-200, 300-500

In [8]:
rows_select=list(range(100,200))+list(range(300,500))
col_select=['Museum ID', 'Museum Name']
df3=df.iloc[rows_select][col_select]

- Show the last 1000 rows

In [9]:
df.tail(1000)

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
32072,8405500192,HERITAGE OF PORTAGE COUNTY,HERITAGE OF PORTAGE COUNTY INC,NaN,HISTORIC PRESERVATION,NaN,2804 POST ROAD,STEVENS POINT,WI,54481,...,44.48634,-89.55057,3.0,97.0,55.0,4,208163038,201412.0,0.0,0.0
32073,8405500845,HIGHLAND HISTORICAL SOCIETY,HIGHLAND HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,526 ISABEL ST,HIGHLAND,WI,53543,...,43.04518,-90.37871,4.0,49.0,55.0,4,753128767,201412.0,0.0,0.0
32074,8405500255,HISTORIC ALLOUEZ SOCIETY,HISTORIC ALLOUEZ SOCIETY,NaN,HISTORIC PRESERVATION,NaN,1421 S MONROE AVE,GREEN BAY,WI,54301,...,44.47735,-88.00221,2.0,9.0,55.0,4,261296969,201412.0,0.0,0.0
32075,8405500704,HISTORIC ARGYLE,HISTORIC ARGYLE INC,NaN,HISTORIC PRESERVATION,NaN,PO BOX 101,ARGYLE,WI,53504,...,42.70144,-89.88124,4.0,65.0,55.0,4,391992925,201412.0,0.0,0.0
32076,8405500221,HISTORIC BLOOMING GROVE HISTORICAL SOCIETY,HISTORIC BLOOMING GROVE HISTORICAL SOCIETY INC,NaN,HISTORIC PRESERVATION,NaN,19 WOOD BROOK WAY,FITCHBURG,WI,53711,...,43.01021,-89.43031,2.0,25.0,55.0,4,237226819,201304.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33067,8405600184,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 73,SHERIDAN,WY,82801,...,44.82345,-106.87592,4.0,33.0,56.0,5,836007540.0,NaN,NaN,NaN
33068,8405600061,WYOMING STATE MUSEUM,WYOMING STATE MUSEUM VOLUNTEERS INC,NaN,GENERAL MUSEUM,NaN,2301 CENTRAL AVENUE,CHEYENNE,WY,82001,...,41.13941,-104.81813,1.0,21.0,56.0,5,237368629.0,201404.0,0.0,0.0
33069,8405600158,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC,NaN,HISTORIC PRESERVATION,NaN,1273 N 15TH ST STE 121,LARAMIE,WY,82072,...,41.32276,-105.57686,3.0,1.0,56.0,5,830318392.0,201312.0,208508.0,83981.0
33070,8405600137,WYOMING TRANSPORTATION MUSEUM,WYOMING TRANSPORTATION MUSEUM CORP,NaN,HISTORY MUSEUM,NaN,PO BOX 704,CHEYENNE,WY,82003,...,41.13010,-104.81916,1.0,21.0,56.0,5,830295570.0,201309.0,0.0,0.0
33071,8405600199,YELLOWSTONE NATIONAL PARK,LITTLE PEOPLE LEARNING CENTER INC,NaN,HISTORIC PRESERVATION,NaN,NATIONAL PARK SERVICE,YELLOWSTONE NATIONAL PARK,WY,82190,...,44.91303,-110.41584,4.0,29.0,56.0,5,830249072.0,201312.0,127496.0,126762.0

In [10]:
df.iloc[df.shape[0]-1000:]

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
32072,8405500192,HERITAGE OF PORTAGE COUNTY,HERITAGE OF PORTAGE COUNTY INC,NaN,HISTORIC PRESERVATION,NaN,2804 POST ROAD,STEVENS POINT,WI,54481,...,44.48634,-89.55057,3.0,97.0,55.0,4,208163038,201412.0,0.0,0.0
32073,8405500845,HIGHLAND HISTORICAL SOCIETY,HIGHLAND HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,526 ISABEL ST,HIGHLAND,WI,53543,...,43.04518,-90.37871,4.0,49.0,55.0,4,753128767,201412.0,0.0,0.0
32074,8405500255,HISTORIC ALLOUEZ SOCIETY,HISTORIC ALLOUEZ SOCIETY,NaN,HISTORIC PRESERVATION,NaN,1421 S MONROE AVE,GREEN BAY,WI,54301,...,44.47735,-88.00221,2.0,9.0,55.0,4,261296969,201412.0,0.0,0.0
32075,8405500704,HISTORIC ARGYLE,HISTORIC ARGYLE INC,NaN,HISTORIC PRESERVATION,NaN,PO BOX 101,ARGYLE,WI,53504,...,42.70144,-89.88124,4.0,65.0,55.0,4,391992925,201412.0,0.0,0.0
32076,8405500221,HISTORIC BLOOMING GROVE HISTORICAL SOCIETY,HISTORIC BLOOMING GROVE HISTORICAL SOCIETY INC,NaN,HISTORIC PRESERVATION,NaN,19 WOOD BROOK WAY,FITCHBURG,WI,53711,...,43.01021,-89.43031,2.0,25.0,55.0,4,237226819,201304.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33067,8405600184,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 73,SHERIDAN,WY,82801,...,44.82345,-106.87592,4.0,33.0,56.0,5,836007540.0,NaN,NaN,NaN
33068,8405600061,WYOMING STATE MUSEUM,WYOMING STATE MUSEUM VOLUNTEERS INC,NaN,GENERAL MUSEUM,NaN,2301 CENTRAL AVENUE,CHEYENNE,WY,82001,...,41.13941,-104.81813,1.0,21.0,56.0,5,237368629.0,201404.0,0.0,0.0
33069,8405600158,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC,NaN,HISTORIC PRESERVATION,NaN,1273 N 15TH ST STE 121,LARAMIE,WY,82072,...,41.32276,-105.57686,3.0,1.0,56.0,5,830318392.0,201312.0,208508.0,83981.0
33070,8405600137,WYOMING TRANSPORTATION MUSEUM,WYOMING TRANSPORTATION MUSEUM CORP,NaN,HISTORY MUSEUM,NaN,PO BOX 704,CHEYENNE,WY,82003,...,41.13010,-104.81916,1.0,21.0,56.0,5,830295570.0,201309.0,0.0,0.0
33071,8405600199,YELLOWSTONE NATIONAL PARK,LITTLE PEOPLE LEARNING CENTER INC,NaN,HISTORIC PRESERVATION,NaN,NATIONAL PARK SERVICE,YELLOWSTONE NATIONAL PARK,WY,82190,...,44.91303,-110.41584,4.0,29.0,56.0,5,830249072.0,201312.0,127496.0,126762.0

- Extract your results as pdf!