In [2]:
# we import the library pandas and give it the "pd" kickname
import pandas as pd
import numpy as np

# **For all questions YOU HAVE TO WRITE SOME CORRECT  PYTHON CODE! simply giving the final answer is not enough!**

### Assignment 4.1
#### (a) Create two variables called A and B in Python and Assign them values of 500 and 1000.
#### (b) Create variable C which holds the sum of A and B and variable D that holds their multiplication

#### Hint: You can do this using basic python functionality without operations from Pandas

## (a)

## (b)

### You will work on the following dataframe for the rest of assignments
#### This dataframe contains the name of people who are seeking jobs, their zipcode, number of months on the job market, number of times contacted by a recruiter and the job they are seeking

In [7]:
df=pd.read_csv('https://www.dropbox.com/s/j5neg35o0dm6b5k/jobseekers.csv?dl=1')
df.head()

,FirstName,PostCode,OnMarket,NumContacts,JobSought
0,jasmine,EX2 9BY,4,2.0,Emergency planning/management officer
1,mazeed,EX4 2BD,6,5.0,"Nurse, learning disability"
2,sandra,EX2 4AY,2,2.0,"Therapist, horticultural"
3,brooke,EX2 6HD,2,1.0,Media planner
4,tuhfa,EX2 6BW,2,2.0,Ranger/warden

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861 entries, 0 to 1860
Data columns (total 5 columns):
FirstName      1861 non-null object
PostCode       1860 non-null object
OnMarket       1861 non-null int64
NumContacts    1861 non-null float64
JobSought      1861 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 72.8+ KB

### Assignment 4.2
#### (a) How many rows and columns are in the dataframe (you need to write a line of code for this)
#### (b) Extract the columns "FirstName" and "NumContacts" (the outcome should have two columns not seperated single columns)
#### (c) Extract rows number 100, 150, 200, 250
#### (d) Extract columns "FirstName" and "Postcode" for rows 1000 and 1500

## (a)

## (b)

## (c)

## (d)

### Assignment 4.3
#### (a) Find the maximum number of times a person was contacted by the recruiters
#### (b) Find the minimum number of months a person was on the market 
#### (c) Find the average time people have been contacted by the recruiters

## (a)

## (b)

## (c)

### Assignment 4.4
#### (a) Find individuals who have been contacted at least 3 times by the recruiters
#### (b) Find individuals who have been on the job market less than 2 months or more than 6 months
#### (c) Find individuals with PostCode "EX2 9BY"
#### (d) Find individuals who looking for a job as a "nurse"
#### (e) Find the average time people from PostCode "EX4 2BD" were on the market
#### (f) For people who where contacted between 2 and 5 times, and seeking professor job, find the maximum and minimum time on the market

## (a)

## (b)

## (c)

## (d)

## (d)