[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/ExamPrep/Exam1/MidTerm_ExamPrep_2-solutions.ipynb)

# BEM 1025: Programming for Business Analytics
#   1st open-book Exam prep

### You need to download this file as ipynb, zip (compress) it, and upload as a zip file to ELE.
<img width="800" height="400" src="https://github.com/mosleh-exeter/BEM1025/raw/main/images/UploadBart.png">

### For all questions YOU HAVE TO WRITE SOME CORRECT PYTHON CODE! simply giving the final answer is not enough! 
### You will also need to include explaination for your approach to solving the problem. (You can use a seperate cell for your expaination)

In [1]:
# here we import libraries that we may need and give them a nickname each
import pandas as pd
import numpy as np

###  Assignment 1 (25%)
#### (a) Create list "A" containing $\pi$, $\frac{\pi}{2}$,  $\frac{\pi}{3}$,  $\frac{\pi}{4}$
#### (b) For all elements in list A, find  sum and mean of $sin(x)$ using a "for loop" 
#### (challenge) Do the above without creating a list
#### **OUTCOME:** Provide the python code for defining the lists, and calculating  mean value and the outcome values
#### Tip:  You can do this using basic Python functionality see https://www.tutorialspoint.com/python/python_basic_operators.htm and numpy library https://numpy.org/

## (a)

In [2]:
A=[np.pi,np.pi/2,np.pi/3,np.pi/4]
A

[3.141592653589793, 1.5707963267948966, 1.0471975511965976, 0.7853981633974483]

In [3]:
# We create a list and manually define the values of pi,pi/2,pi/3, and pi/4

## (b)

In [4]:
my_sum=0
my_count=0
for a in A:
    my_count=my_count+1
    my_sum=my_sum+np.sin(a)
print(my_sum/my_count)

0.6432830462427466

In [5]:
# We create two variables 'my_sum' and 'my_count' with inital value of zero for each. 
# The former is used to hold the sum of all elements in the list and the latter is used to hold the number of elements in the list
# We use a for-loop to iterative over all items in the list, we then count the number of elements and sum their values using varialbels
# we created in the previous step
# We then calcuate the average by dividing the sum of values over number of elements in the list

In [6]:
my_sum=0
my_count=0
for i in range(1,5):
   
    my_count=my_count+1
    my_sum=my_sum+np.sin(np.pi/i)
print(my_sum/my_count)

0.6432830462427466

In [7]:
# In this solution, instead of defining a list first and iterate over, we caculate the sin function in each iteration directly
# We use the range function to generate each fraction of pi.

### You will work on the following dataframe for the rest of assignments
**Context**
Context:
Starbucks is an American coffee chain founded in Seattle. It serves both beverages and food.

Content:
This dataset includes the nutritional information for Starbucks’ food and drink menu items. All nutritional information for drinks are for a 12oz serving size.
https://www.kaggle.com/starbucks/starbucks-menu

Read this dataset into pandas: (this file has been cleaned for this excersize)

https://raw.githubusercontent.com/mosleh-exeter/BEM1025/main/Fun%2C%20beginner-friendly%20datasets/starbucks-menu-nutrition-drinks_cleaned.csv

In [8]:
df=pd.read_csv("https://raw.githubusercontent.com/mosleh-exeter/BEM1025/main/Fun%2C%20beginner-friendly%20datasets/starbucks-menu-nutrition-drinks_cleaned.csv")

###  Assignment 2 (25%)
#### (a) How many total values are in the dataframe columns and rows? (tip find columns times rows)
#### (b) Extract the columns "name","calories", "protein" (the outcome should have three columns not seperated single columns)
#### (c) Extract rows number 10, 15, 100
#### (d) Extract columns "name" and "protein" for the last 100 rows without using tail command
#### (Challenge) Show all rows except range 10-20 and 40-50 
#### **OUTCOME:** for each step show the resulting dataframe and the corresponding code

## (a)

In [9]:
print(df.shape[0]*df.shape[1])

1239

In [10]:
# here we use "shape" which returns a tuple representing the dimensionality of the DataFrame.

## (b)

In [11]:
df[['name','calories','protein']].head()

                                                name    calories   protein
0           Cool Lime Starbucks Refreshers™ Beverage   45.000000  0.000000
1                                   Ombré Pink Drink  135.163043  4.152174
2                                         Pink Drink  135.163043  4.152174
3     Strawberry Acai Starbucks Refreshers™ Beverage   80.000000  0.000000
4  Very Berry Hibiscus Starbucks Refreshers™ Beve...   60.000000  0.000000

In [12]:
# We use a list of columns to filter for the given columns

## (c)

In [13]:
df.iloc[[9,14,99]]

,name,calories,fat,carb,fiber,protein,sodium
9,Iced Coffee,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
14,Starbucks® Caramel Iced Coffee,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
99,Featured Dark Roast,5.000000,0.000000,0.00000,0.000000,1.000000,10.000000

In [14]:
# We use a list of rows and substract one from each since the index starts from zero, then use iloc to find the rows

## (d)

In [15]:
df[['name','protein']].iloc[df.shape[0]-100:]

                                  name    protein
77   Tazo® Bottled Berry Blossom White   0.000000
78           Tazo® Bottled Black Mango   0.000000
79      Tazo® Bottled Black with Lemon   0.000000
80          Tazo® Bottled Brambleberry   0.000000
81           Tazo® Bottled Giant Peach   0.000000
..                                 ...        ...
172                 Chocolate Smoothie  20.000000
173                Strawberry Smoothie  16.000000
174                         Ginger Ale   4.152174
175                          Lemon Ale   4.152174
176                  Orange Cream Soda   4.152174

[100 rows x 2 columns]

In [16]:
# First we filter for the given columns, then use iloc with combination with df.shape[0]-100 to select for the last 100 items

In [17]:
df[['name','protein']].iloc[-100:]

                                  name    protein
77   Tazo® Bottled Berry Blossom White   0.000000
78           Tazo® Bottled Black Mango   0.000000
79      Tazo® Bottled Black with Lemon   0.000000
80          Tazo® Bottled Brambleberry   0.000000
81           Tazo® Bottled Giant Peach   0.000000
..                                 ...        ...
172                 Chocolate Smoothie  20.000000
173                Strawberry Smoothie  16.000000
174                         Ginger Ale   4.152174
175                          Lemon Ale   4.152174
176                  Orange Cream Soda   4.152174

[100 rows x 2 columns]

## (Challenge)

In [18]:
a=list(range(0,10))
b=list(range(21,39))
c=list(range(51,df.shape[0]))
df.iloc[a+b+c]

,name,calories,fat,carb,fiber,protein,sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45.000000,0.000000,11.00000,0.000000,0.000000,10.000000
1,Ombré Pink Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
2,Pink Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.000000,0.000000,18.00000,1.000000,0.000000,10.000000
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.000000,0.000000,14.00000,1.000000,0.000000,10.000000
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320.000000,5.000000,53.00000,8.000000,20.000000,170.000000
173,Strawberry Smoothie,300.000000,2.000000,60.00000,7.000000,16.000000,130.000000
174,Ginger Ale,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
175,Lemon Ale,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
176,Orange Cream Soda,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783

In [19]:
# We use range to automatically generate a list of all indices except those in the given lists, we then then combine
# the lists and use them as input to iloc

###  Assignment 3 (25%)
#### (a) Find all drinks with maximum values of fiber across all items
#### (b) Find all drinks that have fat more than average of all drinks 
#### (c) Create a new column in dataframe to show fat per calories
#### (challenge) what is the average calories of drinks that their protein is more than double amount of their fat
#### **OUTCOME:** for each step show the resulting value/dataframe and corresponding code

## (a)

In [20]:
df[df['fiber']==df['fiber'].max()]

                   name  calories  fat  carb  fiber  protein  sodium
172  Chocolate Smoothie     320.0  5.0  53.0    8.0     20.0   170.0

In [21]:
# we use max() function to find the highest value of fiber across all items.
# We use the highest value of fiber and comparison operator to filter for all items with highest value of fiber

## (b)

In [22]:
df[df['fat']>df['fat'].mean()]

,name,calories,fat,carb,fiber,protein,sodium
11,Iced Espresso Classics - Vanilla Latte,130.0,2.5,21.0,0.0,5.0,65.0
12,Iced Espresso Classics - Caffe Mocha,140.0,2.5,23.0,0.0,5.0,90.0
13,Iced Espresso Classics - Caramel Macchiato,130.0,2.5,21.0,0.0,5.0,65.0
39,Iced Espresso Classics - Vanilla Latte,130.0,2.5,21.0,0.0,5.0,65.0
40,Iced Espresso Classics - Caffe Mocha,140.0,2.5,23.0,0.0,5.0,90.0
41,Iced Espresso Classics - Caramel Macchiato,130.0,2.5,21.0,0.0,5.0,65.0
68,Starbucks® Doubleshot Protein Dark Chocolate,210.0,2.5,33.0,2.0,20.0,115.0
69,Starbucks® Doubleshot Protein Vanilla,200.0,2.5,34.0,2.0,20.0,120.0
105,Nitro Cold Brew with Sweet Cream,70.0,5.0,5.0,0.0,1.0,20.0
108,Vanilla Sweet Cream Cold Brew,110.0,6.0,14.0,0.0,1.0,25.0
109,Hot Chocolate,320.0,9.0,47.0,4.0,14.0,160.0
110,Starbucks® Signature Hot Chocolate,430.0,26.0,45.0,5.0,12.0,115.0
112,Caffè Latte,190.0,7.0,19.0,0.0,13.0,170.0
113,Caffè Mocha,290.0,8.0,42.0,4.0,13.0,140.0
114,Cappuccino,120.0,4.0,12.0,0.0,8.0,100.0
115,Caramel Macchiato,250.0,7.0,35.0,0.0,10.0,150.0
117,Cinnamon Dolce Latte,260.0,6.0,40.0,0.0,11.0,150.0
118,Coconutmilk Mocha Macchiato,250.0,9.0,32.0,0.0,12.0,180.0
122,Flat White,180.0,7.0,18.0,0.0,12.0,160.0
124,Iced Caffè Latte,130.0,4.5,13.0,0.0,8.0,115.0
125,Iced Caffè Mocha,230.0,6.0,36.0,4.0,9.0,90.0
126,Iced Caramel Macchiato,250.0,7.0,37.0,0.0,10.0,150.0
128,Iced Cinnamon Dolce Latte,200.0,4.0,34.0,0.0,7.0,95.0
129,Iced Coconutmilk Mocha Macchiato,260.0,9.0,34.0,0.0,11.0,180.0
132,Iced Vanilla Latte,190.0,4.0,30.0,0.0,7.0,100.0
133,Iced White Chocolate Mocha,300.0,8.0,47.0,0.0,10.0,190.0
134,Latte Macchiato,190.0,7.0,19.0,0.0,12.0,160.0
135,Latte Macchiato,190.0,7.0,19.0,0.0,12.0,160.0
138,Vanilla Latte,250.0,6.0,37.0,0.0,12.0,150.0
139,White Chocolate Mocha,360.0,11.0,53.0,0.0,14.0,240.0
146,Cinnamon Dolce Frappuccino® Blended Coffee,350.0,4.5,64.0,0.0,15.0,0.0
158,Mocha Frappuccino® Blended Coffee,280.0,2.5,60.0,2.0,4.0,220.0
168,Cinnamon Dolce Crème,200.0,6.0,28.0,0.0,10.0,135.0
171,Vanilla Crème,200.0,6.0,28.0,0.0,10.0,135.0
172,Chocolate Smoothie,320.0,5.0,53.0,8.0,20.0,170.0

In [23]:
# We use the mean() funciton to find the mean value of fat across all items and then use the comparison
# operator to find items that have fat more than average value of fat.

## (c)

In [24]:
df['new_col']=df['fat']/df['calories']

In [25]:
# We define a new column by dividing the values of column "fat" and column "calories"

## (d)

In [26]:
df[df['protein']>2*df['fat']]['calories'].mean()

114.0625

In [27]:
# First create a condition where we compare protein and 2*fat; then we filter for "calories" column and 
# then apply mean() to find average values

###  Assignment 4 (25%)
#### (a) How many items do not have the word 'Coffee' in their names
#### (b) Find maximum calories across all items that have fat between 2 and 4 (inclusive, you need to include 2 and 4)
#### (c) Find all items that have word "Starbucks" or "Bottled" in their names but do not contain word "Milk"
#### (challenge) Among items that have word 'Coffee' in their name, find those who have more caleries than average of items with word "Smoothie"
#### **OUTCOME:** for each step show the resulting value and corresponding code

## (a)

In [28]:
df[~df['name'].str.contains('Coffee')].shape[0]

134

In [29]:
# We use str.contains to look for all columns in which the word "Coffee" appears.
# We then inverse the condition using ~
# Finally, we use shape to find the size of the outcome dataframe

## (b)

In [30]:
df[(df['fat']>=2) & (df['fat']<=4)]['calories'].max()

300.0

In [31]:
# We combine two conditions for comparing the value of fat, then filter for calories, finally use max() to find max value of calories

## (c)

In [32]:
df[
    ((df['name'].str.contains("Starbucks")) | df['name'].str.contains("Bottled"))&
    ~(df['name'].str.contains('Milk'))
    ]

,name,calories,fat,carb,fiber,protein,sodium,new_col
0,Cool Lime Starbucks Refreshers™ Beverage,45.000000,0.000000,11.00000,0.000000,0.000000,10.000000,0.000000
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.000000,0.000000,18.00000,1.000000,0.000000,10.000000,0.000000
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.000000,0.000000,14.00000,1.000000,0.000000,10.000000,0.000000
14,Starbucks® Caramel Iced Coffee,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783,0.017290
17,Starbucks® Vanilla Iced Coffee,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783,0.017290
...,...,...,...,...,...,...,...,...
88,Tazo® Bottled Tazoberry,150.000000,0.000000,38.00000,0.000000,0.000000,15.000000,0.000000
89,Tazo® Bottled White Cranberry,140.000000,0.000000,35.00000,0.000000,0.000000,10.000000,0.000000
93,White Chocolate Mocha Bottled Frappuccino,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783,0.017290
110,Starbucks® Signature Hot Chocolate,430.000000,26.000000,45.00000,5.000000,12.000000,115.000000,0.060465
137,Starbucks Doubleshot® on Ice Beverage,45.000000,1.000000,5.00000,0.000000,3.000000,40.000000,0.022222

In [33]:
# First, we combine two conditions for column name containing Startbucks and Bottled using the "or" operator, 
# Second, we use create a condition for finding rows where "name" contain the word "Milk" and then inverse that
# we combine condition 1 and condition 2 using "and" operator

## (Challenge)

In [34]:
df1=df[df['name'].str.contains('Coffee')]
df2=df[df['name'].str.contains('Smoothie')]
df1[df1['calories']>df2['calories'].mean()]

,name,calories,fat,carb,fiber,protein,sodium,new_col
146,Cinnamon Dolce Frappuccino® Blended Coffee,350.0,4.5,64.0,0.0,15.0,0.0,0.012857

In [35]:
# We create two seperate dataframe one filtering for column name containing word "Coffee" and one containing word "Smoothie"
# We then filter for rows where calories in first data frame is more than average calories in the second dataframe