[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/ExamPrep/Exam1/MidTerm_ExamPrep_2-solutions.ipynb)

# BEM 1025: Programming for Business Analytics
#   1st open-book Exam prep

### You need to download this file as ipynb, zip (compress it) it, and upload as a zip file to BART.
<img width="800" height="400" src="https://www.dropbox.com/s/iyjaplhbcsd781j/UploadBart.png?dl=1">

### For all questions YOU HAVE TO WRITE SOME CORRECT PYTHON CODE! simply giving the final answer is not enough! 
### You can provide brief description if you think that helps understanding of your code.
### You need to make your code adaptable and scalable; and avoid manual entry of data as much as it is possible.

# Provide your first and last name in the following cells
### First name and last name:

In [2]:
# here we import libraries that we may need and give them a nickname each
import pandas as pd
import numpy as np

###  Assignment 1 (25%)
#### (a) Create list "A" containing $\pi$, $\frac{\pi}{2}$,  $\frac{\pi}{3}$,  $\frac{\pi}{4}$
#### (b) For all elements in list A, find  sum and mean of $sin(x)$ using a "for loop" 
#### (challenge) Do the above without creating a list
#### **OUTCOME:** Provide the python code for defining the lists, and calculating  mean value and the outcome values
#### Tip:  You can do this using basic Python functionality see https://www.tutorialspoint.com/python/python_basic_operators.htm and numpy library https://numpy.org/

In [4]:
A=[np.pi,np.pi/2,np.pi/3,np.pi/4]
A

[3.141592653589793, 1.5707963267948966, 1.0471975511965976, 0.7853981633974483]

In [5]:
my_sum=0
my_count=0
for a in A:
    my_count=my_count+1
    my_sum=my_sum+np.sin(a)
print(my_sum/my_count)

0.6432830462427466

In [6]:
my_sum=0
my_count=0
for i in range(1,5):
   
    my_count=my_count+1
    my_sum=my_sum+np.sin(np.pi/i)
print(my_sum/my_count)

0.6432830462427466

### You will work on the following dataframe for the rest of assignments
**Context**
Context:
Starbucks is an American coffee chain founded in Seattle. It serves both beverages and food.

Content:
This dataset includes the nutritional information for Starbucks’ food and drink menu items. All nutritional information for drinks are for a 12oz serving size.
https://www.kaggle.com/starbucks/starbucks-menu

Read this dataset into pandas: (this file has been cleaned for this excersize)

https://raw.githubusercontent.com/mosleh-exeter/BEM1025/main/Fun%2C%20beginner-friendly%20datasets/starbucks-menu-nutrition-drinks_cleaned.csv

In [135]:
df=pd.read_csv("https://raw.githubusercontent.com/mosleh-exeter/BEM1025/main/Fun%2C%20beginner-friendly%20datasets/starbucks-menu-nutrition-drinks_cleaned.csv")

###  Assignment 2 (25%)
#### (a) How many total values are in the dataframe columns and rows? (tip find columns times rows)
#### (b) Extract the columns "name","calories", "protein" (the outcome should have three columns not seperated single columns)
#### (c) Extract rows number 10, 15, 100
#### (d) Extract columns "name" and "protein" for the last 100 rows without using tail command
#### (Challenge) Show all rows except range 10-20 and 40-50 
#### **OUTCOME:** for each step show the resulting dataframe and the corresponding code

In [137]:
print(df.shape[0]*df.shape[1])

1239

In [138]:
df[['name','calories','protein']].head()

                                                name    calories   protein
0           Cool Lime Starbucks Refreshers™ Beverage   45.000000  0.000000
1                                   Ombré Pink Drink  135.163043  4.152174
2                                         Pink Drink  135.163043  4.152174
3     Strawberry Acai Starbucks Refreshers™ Beverage   80.000000  0.000000
4  Very Berry Hibiscus Starbucks Refreshers™ Beve...   60.000000  0.000000

In [139]:
df.iloc[[9,14,99]]

,name,calories,fat,carb,fiber,protein,sodium
9,Iced Coffee,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
14,Starbucks® Caramel Iced Coffee,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
99,Featured Dark Roast,5.000000,0.000000,0.00000,0.000000,1.000000,10.000000

In [140]:
df[['name','protein']].iloc[df.shape[0]-100:]

                                  name    protein
77   Tazo® Bottled Berry Blossom White   0.000000
78           Tazo® Bottled Black Mango   0.000000
79      Tazo® Bottled Black with Lemon   0.000000
80          Tazo® Bottled Brambleberry   0.000000
81           Tazo® Bottled Giant Peach   0.000000
..                                 ...        ...
172                 Chocolate Smoothie  20.000000
173                Strawberry Smoothie  16.000000
174                         Ginger Ale   4.152174
175                          Lemon Ale   4.152174
176                  Orange Cream Soda   4.152174

[100 rows x 2 columns]

In [141]:

a=list(range(0,9))
b=list(range(21,39))
c=list(range(51,df.shape[0]))
df.iloc[a+b+c]

,name,calories,fat,carb,fiber,protein,sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45.000000,0.000000,11.00000,0.000000,0.000000,10.000000
1,Ombré Pink Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
2,Pink Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.000000,0.000000,18.00000,1.000000,0.000000,10.000000
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.000000,0.000000,14.00000,1.000000,0.000000,10.000000
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320.000000,5.000000,53.00000,8.000000,20.000000,170.000000
173,Strawberry Smoothie,300.000000,2.000000,60.00000,7.000000,16.000000,130.000000
174,Ginger Ale,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
175,Lemon Ale,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
176,Orange Cream Soda,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783

###  Assignment 3 (25%)
#### (a) Find all drinks with maximum values of fiber across all items
#### (b) Find all drinks that have fat more than average of all drinks 
#### (c) Create a new column in dataframe to show fat per calories
#### (challenge) what is the average calories of drinks that their protein is more than double amount of their fat
#### **OUTCOME:** for each step show the resulting value/dataframe and corresponding code

In [142]:
df[df['fiber']==df['fiber'].max()]

                   name  calories  fat  carb  fiber  protein  sodium
172  Chocolate Smoothie     320.0  5.0  53.0    8.0     20.0   170.0

In [143]:
df[df['fat']>df['fat'].mean()]

,name,calories,fat,carb,fiber,protein,sodium
1,Ombré Pink Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
2,Pink Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
5,Violet Drink,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
6,Evolution Fresh™ Cold-Pressed Apple Berry Juice,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
7,Evolution Fresh™ Defense Up,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
...,...,...,...,...,...,...,...
171,Vanilla Crème,200.000000,6.000000,28.00000,0.000000,10.000000,135.000000
172,Chocolate Smoothie,320.000000,5.000000,53.00000,8.000000,20.000000,170.000000
174,Ginger Ale,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
175,Lemon Ale,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783
176,Orange Cream Soda,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783

In [144]:
df['new_col']=df['fat']/df['calories']

In [145]:
df[df['protein']>2*df['fat']]['calories'].mean()

114.0625

###  Assignment 4 (25%)
#### (a) How many items do not have the word 'Coffee' in their names
#### (b) Find maximum calories across all items that have fat between 2 and 4 (inclusive, you need to include 2 and 4)
#### (c) Find all items that have word "Starbucks" or "Bottled" in their names but do not contain word "Milk"
#### (challenge) Among items that have word 'Coffee' in their name, find those who have more caleries than average of items with word "Smoothie"
#### **OUTCOME:** for each step show the resulting value and corresponding code

In [151]:
df[~df['name'].str.contains('Coffee')].shape[0]

134

In [152]:
df[(df['fat']>=2) & (df['fat']<=4)]['calories'].max()

300.0

In [153]:
df[
    ((df['name'].str.contains("Starbucks")) | df['name'].str.contains("Bottled"))&
    ~(df['name'].str.contains('Milk'))
    ]

,name,calories,fat,carb,fiber,protein,sodium,new_col
0,Cool Lime Starbucks Refreshers™ Beverage,45.000000,0.000000,11.00000,0.000000,0.000000,10.000000,0.000000
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.000000,0.000000,18.00000,1.000000,0.000000,10.000000,0.000000
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.000000,0.000000,14.00000,1.000000,0.000000,10.000000,0.000000
14,Starbucks® Caramel Iced Coffee,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783,0.017290
17,Starbucks® Vanilla Iced Coffee,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783,0.017290
...,...,...,...,...,...,...,...,...
88,Tazo® Bottled Tazoberry,150.000000,0.000000,38.00000,0.000000,0.000000,15.000000,0.000000
89,Tazo® Bottled White Cranberry,140.000000,0.000000,35.00000,0.000000,0.000000,10.000000,0.000000
93,White Chocolate Mocha Bottled Frappuccino,135.163043,2.336957,24.73913,0.445652,4.152174,57.934783,0.017290
110,Starbucks® Signature Hot Chocolate,430.000000,26.000000,45.00000,5.000000,12.000000,115.000000,0.060465
137,Starbucks Doubleshot® on Ice Beverage,45.000000,1.000000,5.00000,0.000000,3.000000,40.000000,0.022222

In [154]:
df1=df[df['name'].str.contains('Coffee')]
df2=df[df['name'].str.contains('Smoothie')]
df1[df1['calories']>df2['calories'].mean()]

,name,calories,fat,carb,fiber,protein,sodium,new_col
146,Cinnamon Dolce Frappuccino® Blended Coffee,350.0,4.5,64.0,0.0,15.0,0.0,0.012857