[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mosleh-exeter/BEM1025/blob/main/ExamPrep/Exam1/MidTerm_ExamPrep_3-solutions.ipynb)

In [2]:
# we import the library pandas and give it the "pd" nickname
import pandas as pd
import numpy as np

### Assignment 4.1
#### (a) Create two variables called A1 and A2 in Python and assign them values of 5 and 9.
#### (b) Create variable C which holds the value of A1 divided by A2 and variable D that holds their multiplication.

#### Hint: You can do this using basic Python functionality without operations from Pandas

## (a)

In [3]:
A1=5
A2=9

## (b)

In [4]:
C=A1/A2
D=A1*A2
print(C,D)

0.5555555555555556 45

### You will work on the following dataframe for the rest of assignments
#### This dataset contains a subset of the fuel economy data that the EPA makes available on http://fueleconomy.gov. It contains only car models which had a new release every year between 1999 and 2008 - this was used as a proxy for the popularity of the car.:

manufacturer: manufacturer name; 

model: model name; 

displ: engine size in litres; 

year: year of manufacture; 

cyl: number of cylinders; 

trans: type of transmission; 

drv: the type of drive train where f = front-wheel drive, r = rear wheel drive, 4 = 4wd; 

cty: city miles per gallon; 

hwy: highway miles per gallon; 

fl:fuel type; 

class: "type" of car e.g. compact etc

In [5]:
df=pd.read_csv('https://www.dropbox.com/s/rx9ondhbqvd9zcm/mpg.csv?dl=1')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

### Assignment 4.2
#### (a) Provide the list of column names, and number of rows in the dataframe
#### (b) Extract the columns "manufacturer", "model", and "year" (the outcome should have three columns not seperated single columns)
#### (c) Extract rows number 10, 20, 30, 35
#### (d) Extract columns "manufacturer", "year" and "class" for rows 100 and 200
#### (e) Provide the list of unique manufacturer (you need to remove duplicated manufacturers), Hint: you can consult pandas document: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html

## (a)

In [17]:
print(df.columns)
print(df.shape[0])

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')
234

## (b)

In [18]:
df[['manufacturer','model','year']]

    manufacturer               model  year
0           audi                  a4  1999
1           audi                  a4  1999
2           audi                  a4  2008
3           audi                  a4  2008
4           audi                  a4  1999
5           audi                  a4  1999
6           audi                  a4  2008
7           audi          a4 quattro  1999
8           audi          a4 quattro  1999
9           audi          a4 quattro  2008
10          audi          a4 quattro  2008
11          audi          a4 quattro  1999
12          audi          a4 quattro  1999
13          audi          a4 quattro  2008
14          audi          a4 quattro  2008
15          audi          a6 quattro  1999
16          audi          a6 quattro  2008
17          audi          a6 quattro  2008
18     chevrolet  c1500 suburban 2wd  2008
19     chevrolet  c1500 suburban 2wd  2008
20     chevrolet  c1500 suburban 2wd  2008
21     chevrolet  c1500 suburban 2wd  1999
22     chevrolet  c1500 suburban 2wd  2008
23     chevrolet            corvette  1999
24     chevrolet            corvette  1999
25     chevrolet            corvette  2008
26     chevrolet            corvette  2008
27     chevrolet            corvette  2008
28     chevrolet     k1500 tahoe 4wd  2008
29     chevrolet     k1500 tahoe 4wd  2008
..           ...                 ...   ...
204       toyota   toyota tacoma 4wd  1999
205       toyota   toyota tacoma 4wd  2008
206       toyota   toyota tacoma 4wd  2008
207   volkswagen                 gti  1999
208   volkswagen                 gti  1999
209   volkswagen                 gti  2008
210   volkswagen                 gti  2008
211   volkswagen                 gti  1999
212   volkswagen               jetta  1999
213   volkswagen               jetta  1999
214   volkswagen               jetta  1999
215   volkswagen               jetta  2008
216   volkswagen               jetta  2008
217   volkswagen               jetta  2008
218   volkswagen               jetta  2008
219   volkswagen               jetta  1999
220   volkswagen               jetta  1999
221   volkswagen          new beetle  1999
222   volkswagen          new beetle  1999
223   volkswagen          new beetle  1999
224   volkswagen          new beetle  1999
225   volkswagen          new beetle  2008
226   volkswagen          new beetle  2008
227   volkswagen              passat  1999
228   volkswagen              passat  1999
229   volkswagen              passat  2008
230   volkswagen              passat  2008
231   volkswagen              passat  1999
232   volkswagen              passat  1999
233   volkswagen              passat  2008

[234 rows x 3 columns]

## (c)

In [42]:
df.iloc[[9,19,29,34]]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,new_col
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,56.0
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,79.5
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,74.2
34,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,80.6

## (d)

In [43]:
df[['manufacturer','year','class']].iloc[[99,199]]

    manufacturer  year       class
99         honda  1999  subcompact
199       toyota  2008         suv

## (e)

In [44]:
df['manufacturer'].unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

### Assignment 4.3
#### (a) Find the maximum size of engine
#### (b) Find the minimum mile per gallon in city across all cars
#### (c) Find the average mile per gallon on highway across all cars
#### (d) Create a new column in dataframe to normalize the mile per gallon on highway. You need to multiply mile per gallon on highway by engine size

## (a)

In [45]:
df['displ'].max()

7.0

## (b)

In [46]:
df['cty'].min()

9

## (c)

In [47]:
df['hwy'].mean()

23.44017094017094

## (d)

In [41]:
df['new_col']=df['hwy']*df['displ']
df['new_col']

0       52.2
1       52.2
2       62.0
3       60.0
4       72.8
5       72.8
6       83.7
7       46.8
8       45.0
9       56.0
10      54.0
11      70.0
12      70.0
13      77.5
14      77.5
15      67.2
16      77.5
17      96.6
18     106.0
19      79.5
20     106.0
21      96.9
22     102.0
23     148.2
24     131.1
25     161.2
26     155.0
27     168.0
28     100.7
29      74.2
       ...
204     64.6
205     72.0
206     80.0
207     58.0
208     52.0
209     58.0
210     58.0
211     67.2
212     83.6
213     58.0
214     52.0
215     58.0
216     58.0
217     72.5
218     72.5
219     64.4
220     67.2
221     83.6
222     77.9
223     58.0
224     52.0
225     70.0
226     72.5
227     52.2
228     52.2
229     56.0
230     58.0
231     72.8
232     72.8
233     93.6
Name: new_col, Length: 234, dtype: float64

### Assignment 4.4
#### (a) Find cars that have either 4 or 9 cylinders 
#### (b) Find cars that have engine size between 4 and 5 (inclusive, you need to include 4 and 5)
#### (c) Find all suv cars manufactured by chevrolet except in 2008
#### (d) What is average mile per gallon on highway for all models of toyota 4runner manufactured in 1999?

## (a)

In [48]:
filter_cyl=(df['cyl']==4) | (df['cyl']==9)
df[filter_cyl]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,new_col
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,52.2
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,52.2
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,62.0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,60.0
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,46.8
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,45.0
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,56.0
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,54.0
32,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,64.8
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize,72.0
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,57.6
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,52.8
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,51.2
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,51.2
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,46.4
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,51.2
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,61.2
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,64.8
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,64.8
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,58.0
108,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,62.4
109,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize,64.8
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,72.0
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize,74.4
115,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,52.0
116,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,58.0
117,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact,56.0
118,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,54.0
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,69.6
142,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,64.8
...,...,...,...,...,...,...,...,...,...,...,...,...
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,74.4
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,59.4
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,63.8
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,74.4
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,74.4
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,54.0
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,59.4
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,63.0
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,66.6
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,63.0
200,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,54.0
201,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,54.0
202,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup,59.4
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,58.0
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,52.0
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,58.0
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,58.0
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,83.6
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,58.0
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,52.0
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,58.0
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,58.0
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,83.6
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,77.9
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,58.0
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,52.0
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,52.2
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,52.2
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,56.0
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,58.0

## (b)

In [49]:
filter_displ=(df['displ']>=4) & (df['displ']<=5)
df[filter_displ]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,new_col
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,96.6
47,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,92.0
52,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,89.3
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,89.3
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,56.4
58,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,79.9
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,56.4
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,79.9
64,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,75.2
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,56.4
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,79.9
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,79.9
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,75.2
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,56.4
74,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,78.2
77,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,68.0
78,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,76.0
79,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,68.0
80,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,76.0
81,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,87.4
82,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,85.0
83,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,71.4
84,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,71.4
85,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,73.6
86,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,73.6
87,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,78.2
92,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,104.0
93,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,96.0
94,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,96.6
95,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,101.2
96,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact,105.8
97,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,101.2
124,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,80.0
125,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,79.9
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,56.4
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,89.3
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,60.0
131,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,75.6
132,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,79.2
133,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,69.0
137,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,68.0
138,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,76.0
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,87.4
140,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,85.0
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,80.0
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,80.0
178,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,79.9
198,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,70.5
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,72.0
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,80.0

## (c)

In [50]:

filter_suv=(df['class']=='suv') & (df['manufacturer']=='chevrolet') & (df['year']!=2008)
df[filter_suv]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,new_col
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,96.9
30,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,85.5
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,110.5

## (d)

In [51]:
filter_toyota=(df['model'].str.contains('4runner')) & (df['manufacturer']=='toyota') & (df['year']==1999)
df[filter_toyota]['hwy'].mean()

19.0