In [4]:
# here we import libraries that we may need and give them a nickname each
import pandas as pd
import numpy as np

###  Assignment 1 (25%)
#### (a) Create three lists, "A" contains 1-10, "B" contains 20-30, and "C" contains 50-60 (inclusive)
#### (b) Create list D that contains all elements of the above lists
#### (c) Find the mean value of items in list D
#### (d) Find the mean value of items in list D using "for loop"  (i.e. you need to iterate over all items in the list and add them up and then do the average)
#### **OUTCOME:** Provide the python code for defining the lists, and calculating  mean value and the outcome values
#### Tip:  You can do this using basic Python functionality see https://www.tutorialspoint.com/python/python_basic_operators.htm

In [5]:
A=list(range(1,10))
B=list(range(20,30))
C=list(range(50,60))
D=A+B+C
print(np.mean(D))
my_counter=0
my_sum=0
for i in D:
    my_sum+=i
    my_counter+=1
print(my_sum/my_counter)

28.79310344827586
28.79310344827586

### You will work on the following dataframe for the rest of assignments
**Context**
If you like to eat cereal, do yourself a favor and avoid this dataset at all costs. After seeing these data it will never be the same for me to eat Fruity Pebbles again. read more here : https://www.kaggle.com/crawford/80-cereals

**Content**
Fields (columuns) in the dataset:

Name: Name of cereal

mfr: Manufacturer of cereal
A = American Home Food Products;
G = General Mills
K = Kelloggs
N = Nabisco
P = Post
Q = Quaker Oats
R = Ralston Purina

type:
cold
hot

calories: calories per serving

protein: grams of protein

fat: grams of fat

sodium: milligrams of sodium

fiber: grams of dietary fiber

carbo: grams of complex carbohydrates

sugars: grams of sugars

potass: milligrams of potassium

vitamins: vitamins and minerals - 0, 25, or 100, indicating the typical percentage of FDA recommended
shelf: display shelf (1, 2, or 3, counting from the floor)

weight: weight in ounces of one serving

cups: number of cups in one serving
rating: a rating of the cereals (Possibly from Consumer Reports?)

In [6]:
#Here we load the dataset
df=pd.read_csv("https://www.dropbox.com/s/c1jwowcrx1ufr5t/cereal.csv?dl=1")
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,68.40
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0.0,3,1.0,1.00,33.98
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,59.43
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25.0,3,1.0,0.50,93.70
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25.0,3,1.0,0.75,34.38

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     float64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(6), int64(7), object(3)
memory usage: 9.8+ KB

###  Assignment 2 (25%)
#### (a) Find number of rows divided by columns in the dataset
#### (b) Extract the columns "name","type", "calories", and "fat" (the outcome should have four columns not seperated single columns)
#### (c) Extract rows number 65, 25, 10, 55
#### (d) Extract columns "name", "carbo", and "rating" for rows range 10-20 and 40-50 (you need to have a dataframe that includes both ranges)
#### **OUTCOME:** for each step show the resulting dataframe and the corresponding code

In [7]:
df.shape

(77, 16)

In [9]:
print(df.shape[0]/df.shape[1])

4.8125

In [10]:
len(df)/len(df.columns)

4.8125

In [6]:
print(df.shape[0]/df.shape[1])

4.8125

In [6]:
df[['name','type','calories','fat']].head()

                        name type  calories  fat
0                  100% Bran    C        70    1
1          100% Natural Bran    C       120    5
2                   All-Bran    C        70    1
3  All-Bran with Extra Fiber    C        50    0
4             Almond Delight    C       110    2

In [7]:
df.iloc[[65,24,19,55]]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
65,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0,120,0.0,1,1.0,0.67,72.80
24,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25.0,2,1.0,1.00,32.21
19,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25.0,3,1.0,0.50,40.45
55,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,0.0,3,0.5,1.00,63.01

In [8]:
df[['name','carbo','rating']].iloc[list(range(10,20))+list(range(40,50))]

                                 name  carbo  rating
10                       Cap'n'Crunch   12.0   18.04
11                           Cheerios   17.0   50.76
12              Cinnamon Toast Crunch   13.0   19.82
13                           Clusters   13.0   40.40
14                        Cocoa Puffs   12.0   22.74
15                          Corn Chex   22.0   41.45
16                        Corn Flakes   21.0   45.86
17                          Corn Pops   13.0   35.78
18                      Count Chocula   12.0   22.40
19                 Cracklin' Oat Bran   10.0   40.45
40                                Kix   21.0   39.24
41                               Life   12.0   45.33
42                       Lucky Charms   12.0   26.73
43                              Maypo   16.0   54.85
44   Muesli Raisins, Dates, & Almonds   16.0   37.14
45  Muesli Raisins, Peaches, & Pecans   16.0   34.14
46               Mueslix Crispy Blend   17.0   30.31
47               Multi-Grain Cheerios   15.0   40.11
48                   Nut&Honey Crunch   15.0   29.92
49          Nutri-Grain Almond-Raisin   21.0   40.69

###  Assignment 3 (25%)
#### (a) Find the maximum and minimum for calories across all items
#### (b) Find average sugars across all items
#### (c) Create a new column in dataframe to normalize the fat per weight. (tip: You need to divide fat by weight)
#### **OUTCOME:** for each step show the resulting value/dataframe and corresponding code

In [9]:
df['calories'].max(),df['calories'].min()

(160, 50)

In [10]:
df['sugars'].mean()

6.922077922077922

In [11]:
df['new_col']=df['fat']/df['weight']

###  Assignment 4 (25%)
#### (a) Find all items type "C" with zero fat
#### (b) Find average sugars across all items that have fat between 2 and 4 (inclusive, you need to include 2 and 4)
#### (c) Find all items that have "Bran" as part of their names with less than 100 calories
#### (d) Find average rating for items that are not manufactured by either "N" or "Q" with fiber less than 10
#### **OUTCOME:** for each step show the resulting value and corresponding code

In [1]:
df[(df['type']=="C") & (df['fat']==0)].head()

NameError: name 'df' is not defined

In [13]:
df[(df['fat']>=2) & (df['fat']<=4)]['sugars'].mean()

8.0

In [14]:
df[(df['name'].str.contains("Bran")) & (df['calories']<100)].head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,new_col
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,68.40,1.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,59.43,1.0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25.0,3,1.0,0.50,93.70,0.0
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25.0,1,1.0,0.67,49.12,1.0
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25.0,3,1.0,0.67,53.31,0.0

In [16]:
df[(df['mfr']!='N') &(df['mfr']!='Q') &(df['fiber']<10) ]['rating'].mean()

39.36129032258064

In [8]:
df[ ~((df['mfr']=='N')| (df['mfr']=='Q')) &(df['fiber']<10) ]['rating'].mean()

39.36129032258064